<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fahad.ornob.sust.hitthedeal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="18" />
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <permission android:name="com.example.permission.MAPS_RECEIVE" android:protectionLevel="signature"/>
  	<uses-permission android:name="com.example.permission.MAPS_RECEIVE"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	
	
 
	 <supports-screens
      android:largeScreens="true"
      android:normalScreens="true"
      android:smallScreens="true"
      
      android:anyDensity="true" />
	 
	<uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
	<uses-feature android:name="android.hardware.camera"></uses-feature> 

    <application
        android:name="com.fahad.ornob.sust.hitthedeal.app.AppController"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/HitTheDealAppTheme" >
        <activity
            android:name="com.fahad.ornob.sust.hitthedeal.LoginPage"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.fahad.ornob.sust.hitthedeal.ViwerActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            
        </activity>
        
        <activity
            android:name="com.fahad.ornob.sust.hitthedeal.SignUpCreatorPage"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            
        </activity>
        <activity
            android:name="com.fahad.ornob.sust.hitthedeal.SignupViewerPage"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            
        </activity>
        
        <activity
            android:name="com.fahad.ornob.sust.hitthedeal.GetMapCreatorLocationActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            
        </activity>
        <activity
            android:name="com.fahad.ornob.sust.hitthedeal.CreatorActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            
        </activity>
        
        <activity
            android:name="com.fahad.ornob.sust.hitthedeal.EventDetailActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            
        </activity>
        
        <activity
            android:name="com.fahad.ornob.sust.hitthedeal.ViwerProfileActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            
        </activity>
        
        <activity
            android:name="com.fahad.ornob.sust.hitthedeal.EditViewerProfileActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            
        </activity>
        
        
        <receiver android:name="services.BootUpReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.fahad.ornob.sust.hitthedeal.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fahad.ornob.sust.hitthedeal.CreatorActivityOrnob"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            
        </activity>
        <activity
            android:name="com.fahad.ornob.sust.hitthedeal.EditCreatorProfileActivityOrnob"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            
        </activity>
        <activity
            android:name="com.fahad.ornob.sust.hitthedeal.CreateEventActivityOrnob"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            
        </activity>
        <activity
            android:name="com.fahad.ornob.sust.hitthedeal.CreatorEventsActivityOrnob"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            
        </activity>
        <activity
            android:name="com.fahad.ornob.sust.hitthedeal.EventDetailCreatorActivityOrnob"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
           
        </activity>
        <activity
            android:name="com.fahad.ornob.sust.hitthedeal.EditEventActivityOrnob"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            
        </activity>
`		
        <activity
            android:name="com.fahad.ornob.sust.hitthedeal.FavouriteCreatorActivityOrnob"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            
        </activity>

        <service
            android:name="services.EventNotifierService"
            android:enabled="true" />
        
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyA3oXPP6vNX6JESecz2YzbJ-Jie4Lxglkc" />
        
        <meta-data
    		android:name="com.google.android.gms.version"
    		android:value="@integer/google_play_services_version" />
        
    </application>
    
    

</manifest>
